.home {
  .main {
    .section {
      height: 100vh;
    }
  }
}

.hero {
  padding: 0 2.5rem 0 6rem;
  position: relative;
  display: flex;
  flex-direction: column;
  color: #F5F5F5;

  .background {
    z-index: -1;
    .overlay {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(to bottom, transparent 0%, rgba(0,0,0,0.75) 50%, rgba(0,0,0,1) 100%);
      opacity: .7;
    }

    img {
      object-fit: cover;
    }
  }

  .message {
    margin: auto 0 4% 0;
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    line-height: 83.5%;
    letter-spacing: -0.025em;
    text-transform: uppercase;

    .highlight {
      display: inline-block;
      border-bottom: 0.25rem solid #B150C5;
      color: #9CADCB;
    }

    .item {
      display: inline-block;
      border-bottom: 0.25rem solid #9CADCB;
    }

    img {
      width: 4.5rem;
      height: 4.5rem;
      border-radius: 1rem;
      margin-right: 0.8rem;
      object-fit: cover;
      object-position: center;
    }
  }

  .actions {
    width: 100%;
    margin-bottom: 5%;
    display: flex;
    justify-content: space-between;
  }
}

.aboutUs {
  width: 100%;
  height: 100%;
  display: flex;

  .left {
    position: relative;
    width: 45%;
    height: 100%;

    div, img {
      border-radius: 1rem;
    }

    div {
      position: absolute;
      top: 26%;
      right: 15%;
      width: 576px;
      height: 545px;
      background: #1A2A57;
      z-index: -2;
    }
    
    img:first-of-type {
      position: absolute;
      top: 24%;
      right: 10%;
      width: 576px;
      height: 545px;
      opacity: 0.5;
      z-index: -1;
    }
    
    img:last-of-type {
      position: absolute;
      top: 50%;
      right: 15%;
      transform: translate(-75%, -30%);
      width: 205px;
      height: 204.33px;
      z-index: 1;
    }
  }

  .right {
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    h3 {
      padding-top: 2rem;
      margin-bottom: 2rem;
      border-top: 1px dashed black;
      font-style: normal;
      font-size: 60px;
      text-transform: uppercase;
      color: #1A2A57;
    }

    p {
      width: 425px;
      margin-bottom: 2rem;
      font-family: 'Roboto';
      font-style: normal;
      font-size: 16px;
      line-height: 20px;
      color: #1A2A57;
    }
  }
}

.socialResponsibility {
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  
  & > div {
    width: 95%;
    height: 50%;
    position: absolute;
    border-radius: 1.5rem;
  }

  & > div:first-of-type {
    top: 12%;
    background-color: #E6E6E6;
  }

  & > div:nth-of-type(2) {
    top: 16%;
    background-color: #C0C0C4;
  }

  & > div:nth-of-type(3) {
    top: 20%;
    background-color: #9c9dab;
  }

  & > div:last-of-type {
    padding: 5rem;
    height: 70%;
    top: 24%;
    background-color: #81828e;
    color: #FFFFFF;
    display: flex;

    .left {
      width: 100%;

      p {
        display: block;
        width: 637px;
        font-weight: 700;
        font-size: 24px;
        line-height: 20px;
        text-transform: uppercase;
      }

      span {
        width: 100%;
        height: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 16px;
      }
    }

    .right {
      width: 100%;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
    }
  }
}

.careers {
  padding-left: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .top {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;

    span {
      width: 5%;
      font-family: 'Roboto';
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: -0.025em;
      text-transform: uppercase;
      color: #4B6290;
    }
    .divider {
      top: -50%;
      width: 95%;
      height: 2px;
      border-top: 1px dashed #9CADCB;
    }
  }

  .bottom {
    width: 100%;
    height: 50%;
    display: flex;

    .left {
      width: 30%;

      h3 {
        margin-bottom: 2rem;
        font-style: normal;
        font-weight: 700;
        font-size: 60px;
        line-height: 50px;
        letter-spacing: -0.025em;
        text-transform: uppercase;
        color: #1A2A57;
      }
  
      p {
        margin-bottom: 2rem;
        max-width: 425px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: -0.025em;
        color: #1A2A57;
      }
    }

    .right {
      width: 70%;
      display: flex;
      overflow: auto;

      .card {
        width: 316px;
        height: 428px;
        margin-left: 1rem;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        background-color: #1A2A57;

        & > div {
          div:first-of-type {
            margin-bottom: 1rem;
            font-family: 'Roboto';
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: -0.025em;
            color: #9CADCB;
          }
          div:nth-of-type(2) {
            margin-bottom: 1.25rem;
            font-weight: 700;
            font-size: 24px;
            line-height: 20px;
            letter-spacing: -0.025em;
            text-transform: uppercase;
            color: #F5F5F5;
          }
        }

        & > div:last-of-type {
          margin-top: auto;
        }
      }
    }
  }
}

.news {
  padding: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #1A2A57;
  color: #FFFFFF;

  .top {
    width: 100%;
    margin-bottom: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h4 {
      width: 573px;
      font-style: normal;
      font-weight: 700;
      font-size: 60px;
      line-height: 50px;
      letter-spacing: -0.025em;
      text-transform: uppercase;
      color: #FFFFFF;
    }
  }

  .bottom {
    width: 100%;
    display: flex;

    .report {
      width: 50%;
      display: flex;
      flex-direction: column;

      img {
        border-radius: 20px;
        margin-bottom: 2rem;
      }

      span {
        margin-bottom: 2rem;
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
      }

      p {
        font-weight: 700;
        font-size: 24px;
        line-height: 20px;
        text-transform: uppercase;
        color: #FFFFFF;
      }
    }
  }
}

.grants {
  height: 200vh !important;

  & > div:first-of-type {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 100vh !important;

    h3 {
      width: 1307px;
      margin-bottom: 1rem;
      font-size: 15rem;
      text-transform: uppercase;
      color: #1A2A57;
      -webkit-text-stroke: 0px 4px 4px rgba(0, 0, 0, 0.25);
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  
      img {
        margin: 0 2rem;
        border-radius: 20px;
      }
    }
  
    span {
      font-weight: 700;
      font-size: 24px;
      line-height: 20px;
      letter-spacing: -0.025em;
      text-transform: uppercase;
      color: #1A2A57;
    }
  }
}
